
bin/Debug/net8.0/Brand
bin/Debug/net8.0/Brand New Calculator.dll
bin/Debug/net8.0/Brand New Calculator.dll
bin/Debug/net8.0/Brand New Calculator.exe
bin/Debug/net8.0/Brand New Calculator.exe
bin/Debug/net8.0/Brand New Calculator.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/Brand New Calculator.AssemblyInfo.cs
obj/Debug/net8.0/Brand New Calculator.AssemblyInfoInputs.cache
obj/Debug/net8.0/Brand New Calculator.dll
obj/Debug/net8.0/Brand New Calculator.pdb
obj/Debug/net8.0/Brand New Calculator.sourcelink.json
obj/Debug/net8.0/ref/Brand New Calculator.dll
obj/Debug/net8.0/refint/Brand New Calculator.dll
